body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  margin-bottom: 20px
}

.title {
  text-align: center;
  width: 100%;
}

nav ul li {
  text-align: center;
  margin-left: 28%;
}

#project {
  width: 100%;
  margin-left: 20%;
}

.project {
  width: 50%;
  float: left;
}
form a{
  clear: left;
}

footer {
  width: 100%;
  clear: left;
}
